BasedOnStyle: Google
BreakBeforeBraces: Allman
IndentWidth: 4
UseTab: Never
ColumnLimit: 90
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
PointerAlignment: Right
ReferenceAlignment: Right
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
CompactNamespaces: false
FixNamespaceComments: false
IndentCaseLabels: false
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
SortIncludes: true
MaxEmptyLinesToKeep: 2
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignTrailingComments: true
SpaceBeforeParens: ControlStatements
SpaceAfterTemplateKeyword: true
InsertBraces: false
SeparateDefinitionBlocks: Leave
