[submodule "thirdparty/doctest"]
	path = thirdparty/doctest
	url = https://github.com/doctest/doctest.git
[submodule "thirdparty/pjh_result"]
	path = thirdparty/pjh_result
	url = https://github.com/pjh456/pjh_result.git
